<div role="navigation" class="navbar application-header navbar-fixed-top">
    <div class="container-fluid">
        <div class="application-header">
            <%= link_to "Q-A", root_path, :class => "navbar-brand heading" %>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                <li class="user_name">Signed in as <%= current_user.email %></li>
                <li><%= link_to "sign out", destroy_user_session_path, :class => "btn btn-info", :method => :delete %></li>
                <% else %>
                <li><%= link_to "sign in", new_user_session_path, :class => "btn btn-info" %></li>
                <li><%= link_to "sign up", new_user_registration_path, :class => "btn btn-info" %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>